# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
/web_app/src/config.js

# testing
/web_app/coverage

# production
/web_app/build
# note: chrome_extension build contains source files as it is only partial build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor preferences
.vscode