.article {
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    padding: 1rem;
    position: relative;
}

.article--read {
    color: gray;
}

.article__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__viewButton {
    position: absolute;
    bottom: 0.5rem;
    right: 11rem;
}

.article__markReadButton {
    position: absolute;
    bottom: 0.3rem;
    right: 7rem;
}

.article__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    z-index: 1;
}