button#add-community {
    margin-bottom: 1.5rem;
}

button#add-community .MuiSvgIcon-root {
    margin-right: 0.2rem;
}

#community-boards-cards .MuiCardMedia-root {
    background-size: contain;
}

#followed-community-boards-cards .MuiCardMedia-root {
    background-size: contain;
}