.recent-articles-container {
    display: flex;
    flex-wrap: wrap;
}

.recent-articles-container__article-card {
    margin: 1rem;
    background-color: rgba(255, 253, 208, 0.7);
    padding: 1rem;
    min-width: 5rem;
}

.recent-boards-container {
    display: flex;
    flex-wrap: wrap;
}

.recent-boards-container__recent-board-card {
    margin: 1rem;
    background-color: rgba(255, 253, 208, 0.7);
    padding: 1rem;
    min-width: 15rem;
    max-width: 15rem;
    height: 15rem;
}

.homepage-container {
    display: flex;
    flex-direction: row;
}