.sidebar-item {
    padding: 1rem;
    width: auto;
}

.sidebar-item.link:hover {
    background-color: #eee;
}

.sidebar-item .user-photo {
    height: "6rem";
    width: "6rem";
}
.sidebar-item.home {
    display: flex;
    align-items: center;
}

#add-article-sidebar svg {
    margin-right: 0.5rem;
}

.sidebar-item.link {
    text-decoration: none;
    color: #111;
}

.sidebar-item.img {
    height: 100px;
    padding: -0rem;
}

.personal-boards-div.link{
    text-decoration: none;
    color: #111;
    padding: 1rem;
    padding-right: 2.6rem;
    margin-left: -1rem;
}

.personal-boards-div.link:hover{
    background-color: rgb(230, 230, 230);
}

.personal-boards-div:hover {
    background-color: #eee;
}

.personal-boards-div.iconbutton{
    
    margin-top: -1.3rem;
    margin-bottom: -1rem;
    margin-right: -1rem;
    padding: 0.9rem;
    
    
}

.sidebar-item.pboards{
    padding-left: 3rem;
}

.signoutContainer {

    /* to center the button */
    position: relative;
}

.signoutButton {
    /* to center the button in the middle */
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0px);
}